@import url(http://fonts.googleapis.com/css?family=Varela+Round);

.docs-header {
    background: none;
    padding:0;
}
.header--noBackground {
    background: none;
}

.home {
    background: $white;
}
.index {
    background-color: #5fcf80;
    height: auto;
    min-height: 0;
    transition:0.5s all ease-in-out;
    padding-top:90px;
    &.video-up {
        background-color:#2d3339;
        .header_banner {
            //padding-top: 0;
        }
    }

}
.clear {
    clear:both;
}
.hidden-tab {
    display:none;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6,
body {
    font-family: 'Varela Round', sans-serif !important;
}

// Course Cards


.card {
    user-select: none;
    display: block;
    position: relative;
    box-shadow: 0 1px 0px transparent;
    margin: 0 40px 0 0;
    padding: 0;
    padding: 0 15px;
    animation: card-fade-up 0.5s ease;
    transform: scale(1);
    transition: transform 250ms ease-in, box-shadow 250ms ease-in;
    animation: pulse_card 1000ms 1500ms cubic-bezier(0.17, 0.67, 0.83, 0.67) 3;




    & a,
    & .title {
        position: relative;
        background: #fff;
        box-shadow: 0 2px 0 rgba(0,0,0,0.07);
        box-sizing: border-box;
        border-radius: 4px;
        border-radius: 5px 5px 4px 4px;
        color: #b2bac2;
        cursor: pointer;
        display: block;
        min-height: 310px;
        padding: 87px 30px 30px;
        position: relative;
    }

    .progress {
        position: absolute;
        border-radius: 4px 4px 0 0;
        color: #fff;
        display: block;
        height: 57px;
        line-height: 57px;
        top: 0;
        left: 0;
        right: 0;
        padding: 0 30px;
        background-color: #39ADD1;
        i {
            float: left;
            font-size: 18px;
            margin: 21px 6px 0 0;
            color:rgba(255,255,255,0.75);
            &:first-child {
                font-size: 28px;
                margin: 15px 15px 0 0;
                color:#fff;
            }
        }
        span {
            float:right;
        }
    }
    .course-icon {
        margin-right: 15px;
        position: relative;
        top: 4px;
    }
    .stages {
        margin: 0;
        display: inline-block;
    }
    .estimate {
        color: #fff;
        float: right;
        font-size: 13px;
        font-weight: 500;
    }
    strong {
        display: block;
        margin: 0 0 8px;
        line-height: 12px;
        color: #b2bac2;
        font-size: 14px;
    }
    h3 {
        color: #5a6772;
        font-size: 18px;
        line-height: 24px;
        margin: 0 0 20px;
    }
    .description {
        font-size: 14px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        color: #7f8a94;
        position: relative;
        z-index: 0;
        max-height: 40px;
        font-size: 14px;
        overflow: hidden;
        margin: 0;

    }
}

.header_banner {
    transition:0.5s all ease-in-out;
    height:auto;
    .banner-data {
        margin-top: 170px;
        margin-bottom: 170px;
    }
    h1 {
        font-size: 42px;
        line-height: 1.1;
        color: $white;
        text-align: left;
        font-weight: 500;
        font-style: normal;
        text-rendering: optimizeLegibility;
        animation: opacity_change 500ms 1000ms ease-in forwards;
        margin-top: 85px;
    }
    h2 {
        text-align: left;
        color: #fff;
        font-size: 18px;
        line-height: 1.4;
        font-style: normal;
        text-rendering: optimizeLegibility;
        font-weight: 400;
        animation: opacity_change 500ms 1000ms ease-in forwards;
    }
    .download-link {
        text-align: left;
    }
    video {
        max-height: 500px;
    }
    .video-js {
        opacity:0;
        display:none;
        position:relative;
        top:-300px;
        transition:0.5s all ease-in-out;
        padding:0;
        &.showVideo {
            display:block;
            opacity:1;
            top:0;
        }
    }
    #show-video{
        transition:0.5s all ease-in-out;
        &:hover {
            transform: scale(1.07,1.07);
        }
    }
}

.desc__introduces {
    margin-bottom:90px;
    h3 {
        font-size: 26px;
        color: #384047;
        font-style: normal;
        line-height: 1.4;
        margin-bottom: 15px;
        margin-top: 0px;
        text-rendering: optimizeLegibility;
        font-weight: 500;
    }

    p {
        color: #8c989e;
        font-size: 16px;
        line-height: 1.6;
        margin-top: 10px;
        margin-bottom: 20px;
        font-weight: 400;
    }
}

.desc {

    .desc__features {

        h4 {
            margin-top: 0;
            font-size: 18px;
            color: #384047;
            font-style: normal;
            line-height: 1.4;
            margin-bottom: 15px;
            text-rendering: optimizeLegibility;
            font-weight: 500;
            text-align: center;
        }
        p {
            font-size: 13px;
            color: #8c989e;
            line-height: 1.6;
            margin-top: 10px;
            margin-bottom: 20px;
            text-align: center;
        }

        .features__photo {
            position: relative;
            top: 0;
            left: 0;
            text-align: left;
            img {
                max-width:100%;
            }
        }
    }
}



//Course Tabs
.form {
    background: #13232f;
    padding: 40px;
    max-width:600px;
    margin:40px auto;
    border-radius: 4px;
    box-shadow:0 4px 10px 4px #13232f;
}
.tab {
    display: inline-block;
    text-align: left;
    float: none;
}

.tab-group {
    list-style:none;
    padding:0;
    margin:0 0 40px 0;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    li a {
        box-sizing: border-box;
        display: inline-block;
        text-decoration:none;
        font-weight: 500;
        position: relative;
        margin: 0;
        vertical-align: baseline;
        white-space: nowrap;
        background-color: transparent;
        border: 2px solid #5fcf80;
        padding: 0 44px;
        border-color: #34ad58;
        color: #34ad58;
        font-size:20px;
        height: 58px;
        line-height: 52px;
        float:left;
        text-align:center;
        cursor:pointer;
        transition:.5s ease;
        &:hover {
            background:#34ad58;;
            color:$white;
        }
    }
    li:first-child a{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-right:none;
    }
    li:last-child a{
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-left:none;
    }
    .active a {
        background:#1ab188;
        color:$white;
    }

}

h1 {
    text-align:center;
    color:$white;
    font-weight: 300;
    margin:0 0 40px;
}

label {
    position:absolute;
    transform:translateY(6px);
    left:13px;
    color:rgba($white,.5);
    transition:all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size:22px;
    .req {
        margin:2px;
        color:#1ab188;
    }
}

label.active {
    transform:translateY(50px);
    left:2px;
    font-size:14px;
    .req {
        opacity:0;
    }
}

label.highlight {
    color:$white;
}

input, textarea {
    font-size:22px;
    display:block;
    width:100%;
    height:100%;
    padding:5px 10px;
    background:none;
    background-image:none;
    border:1px solid #1ab188;
    color:$white;
    border-radius:0;
    transition:border-color .25s ease, box-shadow .25s ease;
    &:focus {
        outline:0;
        border-color:#1ab188;
    }
}

textarea {
    border:2px solid #1ab188;
    resize: vertical;
}

.field-wrap {
    position:relative;
    margin-bottom:40px;
}

.top-row {
    &:after {
        content: "";
        display: table;
        clear: both;
    }

    > div {
        float:left;
        width:48%;
        margin-right:4%;
        &:last-child { 
            margin:0;
        }
    }
}

.button {

    padding:15px 0;
    font-size:2rem;
    font-weight: 600;
    text-transform:uppercase;
    letter-spacing:.1em;
    background-color: #5fcf80;
    border: 2px solid #5fcf80;
    color: #fff;
    transition:all.5s ease;
    -webkit-appearance: none;
    border-right: 0 !important;
    border-radius: 5px 0 0 5px;
    margin-right: -5px;
    &:hover, &:focus {
        background:#1ab188;
    }
}

.button-block {
    display:block;
    width:100%;
}

.forgot {
    margin-top:-20px;
    text-align:right;
}


// Track Panel Buttons

.panel {
    transition: 0.3s ease-in;
    border-radius: 5px;
    background-color: #f6f9fa;
    padding: 30px;
    margin-bottom: 30px;
    margin: 0;
    border: 0;
    font-size: 18px;
    vertical-align: baseline;
    color:#000;
    &:hover {
        background-color: #eaedee;

    }
    h5 {
        line-height: 26px;
        margin-bottom: 0;
        margin-top: 0;
        font-size: 16px;
        color: #384047;
        font-style: normal;
        text-rendering: optimizeLegibility;
        font-weight: 500;
    }

    .right-arrow-icon {
        fill: #c6ccd2;
        float: right;
        width: 16px;
        height: 16px;
        margin-top: 4px;
    }

    span {
        float: left;
        position: relative;
        top: -10px;
        i {
            color:#39ADD1;
            &:last-child {
                color:#fff;
            }
        }
    }
    >i:last-child {
        float:right;
        font-size: 21px !important;
        color:#c6ccd2;
        margin-top: 4px;
    }

}


// Article Section

.content-section {
    padding: 80px 0;
    h3 {
        text-align: center;
    }
    p {
        text-align: center;
    }
    img {
        vertical-align: baseline;
    }
    a {
        text-align: center;
    }

    .btn-primary {

        font-size: 12px;
        height: 38px;
        line-height: 34px;
        padding: 0 26px;
        text-align: center;
        text-decoration: none;
        vertical-align: baseline;
        white-space: nowrap;
        background-color: transparent;
        border: 2px solid;
        margin: 0;
        outline: none;	
        font-weight: 500;
        transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease, width 0.3s ease, opacity 0.3s ease;
        border-radius: 5px;
        cursor: pointer;
        display: inline-block;
        box-sizing: border-box;
        opacity: 0.88;
        border-color: #fff;
        color: #fff;
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
    }

}	

.has-bg {
    background-color: #f6f9fa;
    border-top: solid 1px #e9f0f3;
    border-bottom: solid 1px #e9f0f3;
}



.callout-card {

    border-radius: 5px;
    background-color: #384047;
    min-height: 178px;
    margin-bottom: 30px;
    margin-top: 40px;
    position: relative;
    text-align: center;

    img {
        position: absolute;
        top: 26px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }

}

.callout-card, .groups {
    overflow: hidden;
    background: #637a91;

    img {
        width: 274px;
        margin: -5px 0 0 -5px;
    }
}
.trusted {
    h3 {
        color: #384047;
        font-style: normal;
        line-height: 1.4;
        font-size: 26px;
        margin-top: 0;	
        text-rendering: optimizeLegibility;
        text-align: center;
    }
    p {
        color: #8c989e;
        font-size: 16px;
        line-height: 1.6;
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: center;
    }
}

.testimonial {

    min-height: 1px;
    padding: 0 80px;
    position: relative;
}

.mega-quote {
    border-radius: 5px;
    background: #f6f9fa top center no-repeat;
    background-size: cover;
    padding: 50px 50% 30px 30px;
    position: relative;
    margin: 30px 0;
    padding-bottom: 180px;
    background-image: url("http://placehold.it/1010X406");
    background-position: right top;

    &:before {
        position: absolute;
        top: -1px;
        left: 30px;
        width: 54px;
        height: 21px;
        background: url(https://static.teamtreehouse.com/assets/layouts/marketing/mega-quote-nub-2f7feb52a3814d16a4442dd1937d58e5.svg) 0 0 no-repeat;
        content: " ";
        display: block;
        z-index: 2;

    }
    &:after {
        clear: both;
    }

    blockquote {
        font: inherit;
        vertical-align: baseline;
        quotes: none;
        font-style: italic;
        border-width: 1px 0;
        background: none;
        border: none;
        padding: 0;
        margin: 0 0 30px 0;
        color: #fff;
        font-size: 18px;
        text-align: left;
        font-weight: 400;
    }

    cite {
        margin: 0;
        padding: 0;
        border: 0;
        font: inherit;
        vertical-align: baseline;
        margin-top: 5px;
        display: block;
        font-size: 15px;
        color: #fff;
        &:before {
            content: "— ";
        }
        &:after {
            box-sizing: border-box;
        }
    } 

    .btn-inverse {

        font-size: 16px;
        font-weight: 500;
        height: 52px;
        position: relative;
        line-height: 48px;
        margin: 0;
        outline: none;
        padding: 0 32px;
        text-align: center;
        text-decoration: none;
        vertical-align: baseline;
        white-space: nowrap;
        background-color: transparent;
        border: 2px solid #5fcf80;
        transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease, width 0.3s ease, opacity 0.3s ease;
        border-radius: 5px;
        cursor: pointer;
        display: inline-block;
        box-sizing: border-box;
        margin-right: 0;
        border-color: #fff;
        color: #fff;
        opacity: 0.88;
        left: 35%;
        top: 20px;
    } 

}
.row {

    margin: 0 auto;
    width: 100%;


    .trust-headline {
        font-size: 18px;
        margin: 0 0 25px 0;
    }

}
.trust {
    text-align: center;
    img {
        max-width: 100%;
    }
}	
.partners {
    padding: 0 75px;
}
footer {
    margin-top: 100px;
    text-align: center;
    color:#8c989e;
    position:relative;
    .social-menu {
        margin:25px 0 50px 5px;
        padding:0;
        li {
            display: inline-block;
            font-size: 21px;
            margin: 0 2px;
        }
    }
    a {
        color:#8c989e;
        transition:0.5s all ease-in-out;
        &:hover {
            color:#657278;
        }
    }
    &:before {
        width: 50px;
        height: 1px;
        position: absolute;
        top: -50px;
        left: 50%;
        margin-left: -25px;
        content: " ";
        display: block;
        background-color: #eaedef;
    }
}

.copyright {
    p {
        text-align: center;
    }
}

/*projects section*/
#project {
    text-align:center;
    img {
        margin-bottom: 20px;
        border-radius:5px;
    }
    button:hover {
        background:#fff;
        border-color:#333 !important;
        color:#434A54;
    }
}

/*topic section*/
#topic {
    .topic-item {
        position:relative;
        text-align:center;
        button {
            position: absolute;
            bottom:20px;
            margin:auto;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            background:transparent;
            color:rgba(255,255,255,0.8);
            border:1px solid rgba(255,255,255,0.8) !important;
            transition:0.5s all ease-in-out;
            &:hover {
                background:transparent;
                color:#fff;
                border:1px solid #fff !important;
            }
        }
    }
}
























@media (max-width:768px) {
    .desc{
        .desc__features {
            .features__photo {
                text-align:center;
            }   
        }
    } 
    .header_banner {
        .banner-data {
            margin-top:0;
        }
        h1 {
            margin:0;
            padding: 0 0 0 16px;
        }
        h2 {
            padding: 0 0 75px 16px;
        }
    }
    #topic {
        .topic-item {
            img {
                width:100%
            }
        }
    }
    .navbar-default .navbar-text, .navbar-default .navbar-nav > li > a {
        text-align: center;
    }
    .navbar-default .navbar-brand {
        top: 9px;
    }
    .navbar-toggle {
        top:10px;
    }
    .navbar-header {
          margin-bottom: 19px;
    }
    .header_banner .banner-data {
        margin-bottom: 20px;
    }
    .desc .desc__introduces h3 {
        text-align: center;
    }
}


.modal-dialog{top: 30%;
max-width: 360px;}

.login-form{
input{
	
    width: 100%;
    background: #E8EBED none repeat scroll 0% 0%;
    padding: 12px 15px;
    color: #A6B0B7;
    border: medium none;
    min-height: 45px;


	&:hover{
    outline: 3px solid #CCC;
    background: #FFF none repeat scroll 0% 0%;
}	
		&:focus{
    outline: 3px solid #CCC;
    background: #FFF none repeat scroll 0% 0%;
}	
}
	button{    background-color: #39ADD1;
    border-color: #39ADD1;
		margin-bottom: 20px;
&:hover{  background-color: #298FAE ;
    border-color: #298FAE ;}
		&:focus{  background-color: #298FAE ;
    border-color: #298FAE ;}
	
	}
	
	.forgot{padding-top: 30px;}
	
}



.modal-header
{.close {
    border: 2px solid !important;
    padding: 1px 4px;
    border-radius: 5px;

}
}
@media (min-width:768px) AND (max-width:992px) {

}
@media (min-width:992px) AND (max-width:1200px) {

}
@media (min-width:1200px) {

}